/* neral body and header styling */
body {
    font-family: 'Kanit', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0; /* Ensure no padding on body */
    color: #11324D;
}

html {
    width: 100%; /* Ensure html element takes full width */
}

/* General reset for all elements (optional but useful for consistency) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Logo inside navbar */
#logo-img {
    height: 300px;
    margin-bottom: -80px; 
    margin-left: -20px;
    display: block;
    align-self: flex-start;
    position: relative;
    top: -45px; 
}
/* End of logo inside navbar */

.navbar-brand {
    padding: 0; 
    margin-left: -50px;
}
/* Navbar links */
.navbar-nav {
    margin-left: auto;
    margin-top: 5px;
}

/* Targeting the navigation list */
#nav-list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #11324D; 
    transition: color 0.3s ease; 
}
#nav-list li a:hover {
      color: #78B3CE; /* Nav text and icon color changed when hover */

    }

.navbar-nav li {
    margin: 10px 0;
}

.navbar-collapse.show {
    margin-top: 5px;
}


/* ------------------ Device-based navbar adjustments ------------- */
@media (max-width: 768px) {
    /* Logo size for small screens */
    #logo-img {
        height: 300px;

    }

    /* Ensure the nav container spans the full width */
    #nav-list {
        width: 100%; 
        padding: 0; 
        margin: 0;
    }

    #nav-list li {
        display: block;
        text-align: center;
    }

    #nav-list li:hover {
        background-color: #78B3CE; 
    }

    .about-byrdie {
        text-align: center;
    }
}


/* --Medium screen adjustments (tablets)-- */
@media (max-width: 983px) {
    /* Logo size for medium screens */
    #logo-img {
        height: 250px;
    }

    /* The nav container full-width */
    #nav-list {
        width: 100%; 
        padding: 0; 
        margin: 0;
    }

    #nav-list li {
        display: block; 
        width: 100%; 
        text-align: center; 
    }

    #nav-list li:hover {
        background-color: #78B3CE; 
    }

    .about-byrdie {
        text-align: center;
    }

    #nav-list li a:hover {
      color:  white;
}

/* -- End device-based navbar adjustments -- */



/*  background change color when hover on each nav list */



/* 
#nav-list:hover {
    background-color: #11324D;
}

.navbar-collapse.show {
    margin-top: 10px;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-nav li {
    margin: 10px 0;
}
*/

/* ---umbotron section -- */

    .content-1 {
        margin-top: 180px; /* Make sure content doesn't overlap */
    }

    /* Ensure logo size is smaller on mobile */
    #logo-img {
        height: 200px;
        object-fit: contain;
        margin-left: 0;
        margin-right: 15px;
    }
}

/* --End jumbotron section -- */

/* Applying 'kanit-light' to text content */
.content-1, h1.text-center, p {
    font-family: 'Kanit', serif;
    font-weight: 300;
    font-style: normal;
}

/* Jumbotron styling */
.jumbotron {
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.jumbotron .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 1012px;
}

/* Welcome text */
h1.text-center {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #11324D;
    font-weight: bold;
}

.content-1 {
    font-size: 1.1rem;
    margin-top: 20px;
    padding-top: 20px;
    color: #11324D;
}

#index-h1 {
  margin-top: 40px; 
  margin-bottom: 40px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 500 !important;
}

.content-1-index {
  font-weight: 300;
  margin-bottom: 20px;
  text-align: justify;
}

#quote-1 {
  font-family: "Roboto Slab", serif;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 1.5
  ;
}

/* Media Query for Small Screens Index Page */
@media (max-width: 768px) {
  .content-1-index {
    margin-left: 30px; 
    margin-right: 30px;
    margin-top: 5%;
  }

  #quote-1 {
    font-size: 0.65rem;
}
}



/*-- Footer styling -- */


.my-blog-cta a {
    background-color: white;
    color: #11324D; 
    margin-bottom: -350px;
}

/* CTA Button styles */
.btn-primary:hover {
    background-color: white;
    color: #11324D;
}

.btn-primary {
    background-color: #11324D;
    border-color: #11324D;
    color: #fff;
    font-size: 18px;
  
}

.btn-lg {
    padding: 15px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-cta {
    margin-top: 20px;
    margin-bottom: 40px;
    transition: opacity 0.15s;
}

.about-cta:hover {
    background-color: white;
    color: #11324D;
}

.gallery-section {
    border-width: 1000px;
    border-color: #1b47cd;
}



footer {
  background-color: #f8f9fa;
  color: #001222; 
  padding: 10px 0; 
  text-align: center; 
  margin-top: 5px;
   font-family: Roboto Slab !important;
}

.featured-blog {
  color: white !important;
  font-family: Roboto Slab;
}

#featured-blog * {
  margin-left: 20px;
}


.cta-blog {
  margin-left: -1px !important;
}




/* -- About me styling---*/

.container-fluid, .row {
    margin: 0;
    padding: 0;
}


.top-banner img {
  object-fit: cover;
  width: 100%;
  height: auto;
}


.top-banner {
    padding: 0;
    margin: 0;
}

/*.about-me {
    background-color: #11324D !important; 
    padding: 20px; 
}
*/


.about-byrdie {
    color:  #11324D;
    font-size: 3rem !important;
    margin-bottom: 10px;
}

.content-about {
    color:  #11324D !important;
    font-size: 1rem;
    overflow: hidden; 
}


/* -- my blog homepage styling --*/ 


.top-container {
    margin-top: -20px !important;
}


.text-primary {
    color: #0A122A !important;
}

.extra-bold {
    font-weight: 600;
    color: #0A122A;
    margin-top: 10px !important;
    display: block; /* block element */
}

/* Default Font Size for Larger Screens */
h2 {
    font-size: 2rem; 
  }
  
  p {
    font-size: 1rem; 
  }
  
  /* Media Query for Small Screens (below 990px) */
  @media (max-width: 990px) {
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 0.9rem; 
    }
  
    .btn {
      font-size: 0.7rem;
    }
  }

/* Media Query for blog page (below 767px) */
@media (max-width: 767px) {

    .h2-blog, .p-blog, .h2-main, .p-blog-main {
      text-align: center; 
    }
  
    .navigation-blog, .navigation-blog-main {
      display: flex; 
      justify-content: center; 
      margin: 10px 0;  
      width: 100%; 
    }

    .main-content-blog {
        text-align: center;
        font-weight: 350;
        font-size: 0.9rem;
    }

    .p-main {
        text-align: center;
    
    }
  
    .btn {
      font-size: 0.9rem;
    }
  
    .col-lg-6, .col-md-6, .col-12 {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;  
    }
  
    /* Adjusting the image size */
    .blog-image {
      width: 100%;  
      max-width: 100%;  
      height: auto;
      object-fit: cover;
    }
  
  }
  
  

/* -- Krabi climbing day 1 styling --*/ 

h1.day-1 {
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
    font-family: "Roboto Slab", serif !important;
}

.day-1-date {
  margin-top: 20px; 
  letter-spacing: 1px;
    font-family: "Roboto Slab", serif;
}

.krabi-image {
    margin-top: 20px;
}


.content-krabi {
    font-family: 'Kanit', serif;
    font-weight: 300;
    font-style: normal;
}

.h2-krabi{
    margin-bottom: 25px;
    margin-top: 25px;
}

h2.h2-custom-heading{
    font-size: 30px;

}


.section-divider-day2{

    border-top: 2px solid #11324D ;
    
}
.img-thumbnail {
  border-radius: 0 !important;
}

.bold-text-krabi{
    font-weight: 400;
}
.text-italic{
    font-style: italic;
}

.text-underline{
    text-decoration: underline;
}

.navigation-krabi {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none; 
  /* word-spacing: 50px; */
  letter-spacing: 5px;
  color: #001222;
  margin-top: 120px;
}




.navigation-krabi svg {
  width: 32px; 
  height: 32px; 
}

.web-footer {
    margin-top: 2%;
}



/*--For small screen --*/ 
@media (max-width: 767px) {
  /* Adjust Bootstrap Gutter */
  .navigation-bottom .row {
    --bs-gutter-x: 0.6rem; /* Horizontal gap */
    --bs-gutter-y: 0; /* Vertical gap */
  }

  .navigation-bottom {
    margin-top: -50px; /* Reduce the top margin on smaller screens */
  }

  .navigation-krabi {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    color: #001222;
    text-decoration: none;
    letter-spacing: 0;
  }

  .navigation-krabi svg {
    width: 20px; 
    height: 20px;
  }

  /* Adjust font sizes */
  .day-1 {
    font-size: 1.5rem !important;
  }

  .day-1-date {
    font-size: 1rem;
  }

  .h2-custom-heading {
    font-size: 1.3rem !important;
  }

  .h2-krabi {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* Responsive images */
  .krabi-image img {
    width: 100%;
    height: auto;
  }


  /* Caption adjustments */
  .caption-nw {
    font-size: 0.7rem;
  }
}

/*-- Blog 2 Styling  --*/ 

.img-gallery {
height: 95%;
 
}



/*-- Blog 3 Styling  --*/ 

.figcaption-text {
  text-align: center; 
  font-size: 0.8em;
  font-weight: 300;

}

/*-- Day 4 --*/

.image-day4{
  margin-top: 0;
}

.day-4 {
  margin-top: 0 !important;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 2rem !important;
  font-weight: 500 !important;
}

#tip-3 {
  font-weight: 600;
}

.content-day-4 {
  font-weight: 300 ;
}

.day-4-date {
font-size: 1.0rem;
letter-spacing: 1px;
}

/*--For small screen --*/ 
@media (max-width: 767px) {
  .day-4 {
    font-size: 1.3em !important;
  }

  .day-4-date {
    letter-spacing: 1px;
    font-size: 0.9rem;
    }

    .content-day-4 {
      font-size: 0.9rem;
    }

    .h2-day4{
      font-size: 1.5rem;
    }

}



#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #001222; 
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Kanit', sans-serif;
}
 
#backToTop:hover {
  background-color: #0d253a;
}


